@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/DM_Sans/static/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFonDMSans-medium';
    src: url('../fonts/DM_Sans/static/DMSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.dmsans {
    font-family: 'DmSans-Bold', sans-serif;
}